@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
    --color-white: #FFFFFF;
    --color-beige: #FFFFC8;
    --color-yellow: #FAF360;
    --color-lightred: #F06565;
    --color-red: #EF2A31;
    --color-lightgrey: #D8E1E1;
    --color-mediumgrey: #929292;
    --color-darkgrey: #4C4F4F;
    --color-lightblack: #262827;
    --color-black: #000000;


    min-width: 400px;
    max-width: 1400px;
    padding: 0% 0% 0% 0%;
    scroll-behavior: smooth;
}

.h1 {font-weight: 900; font-size: 2.986rem;}
.h2 {font-weight: 700; font-size: 2.488rem;}
.h3 {font-weight: 500; font-size: 2.074rem;}
.h4 {font-weight: 300; font-size: 1.728rem;}
.h5 {font-weight: 200; font-size: 1.44rem;}
.h6 {font-weight: 100; font-size: 1.2rem;}
.p {font-weight: 100; font-size: 1rem;}

.strong {
    color: var(--cor-strong);
}
.highlight {
    text-decoration: underline #F06565;

}

.bodystyle { 
    display: flex;
    flex-direction: column;
    margin: 0 0 0 15%;
    padding: 0% 0% 0% 0%;
    font-family: 'Inter', sans-serif;
    background-color: var(--color-lightblack);
    color: var(--color-lightgrey);
    border: none;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.headerstyle {
    overflow: hidden;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-lightblack);
    height: 100px;
    width: 100%;
    max-width: 100%;
    padding: 0% 5% 0% 5%;
    gap: 0%;
}


.navmenu {
    float: right;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    gap: 1rem;
    height: 4.0rem;
    align-items: center;
    justify-content: space-around;
    max-width: 1000px;
}
.rhyped_logo {
    Padding: 0;
    width: 300px;
    height: auto;
}
.rhyped_logo_small {
    Padding: 0;
    width: 300px;
    height: auto;
}
.item {
    text-decoration: none;
    text-align: right;
    color: var(--color-mediumgrey);
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: .1rem;
    padding: 0.5rem 0 0 1rem;
    width: 130px;
}
.item:hover {
    background-color: var(--color-lightblack);
    border-bottom: 3px solid var(--color-lightred);
    color: var(--color-yellow);
    font-weight: 600;
}
.item:active {
    background-color: var(--color-lightred);
    text-align: end;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    font-style: italic;
    border: none;
}




.mainclass {
    display: flex;
    flex-direction: column;
    padding: 0%;
    align-items: left;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.cta_btn_principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    background-color: var(--color-yellow);
    width: 17rem;
    border-radius: 1.6rem;
    padding: 1rem 0 1rem 0;

    border: none;
    height: 2.2rem;
}

.cta_btn_principal_link {
    color: var(--color-black);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
}
.btn_icon {
    height: 35px;
    width: 35px;
}
.cta_btn_secundario {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    background-color: var(--color-lightblack);
    width: 17rem;
    border-radius: 1.6rem;
    padding: 1rem 0 1rem 0;

    border: var(--color-lightred) solid 1.1px;
    height: 2.2rem;
}
.cta_btn_secundario_link {
    color: var(--color-mediumgrey);
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;

}
.cta_btn_principal:hover {
    background-color: var(--color-lightgrey);
}
.cta_btn_secundario:hover {
    background-color: var(--color-black);
}




.section_hero_principal {
    display: flex;
    flex-direction: row;
    padding: 5% 5% 5% 5%;
    align-items: center;
    text-align: center;
    justify-content: space-between;  
    color: var(--color-white);
    height: 750px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), 40% , rgba(0, 0, 0, 0.5), 80% , rgba(0, 0, 0, 0.7)), url(/images/pexels-fauxels-3183177.jpg);
    background-attachment: scroll;
    background-size: cover;
    border-radius: 25px;
    margin-top: 10px;
    width: 90%;
}
.div_section_hero_principal {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 100%;
    padding: 27rem 0 0 0;
}
.div_section_hero_intro {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    text-align: left;
    gap: 3%;
}
.div_section_hero_titulo_principal {
    font-size: 2.788rem;
    letter-spacing: 5px;
    font-weight: 700;
    line-height: 3.6rem;
    text-align: center;
    margin: 0;
}
.div_section_hero_h1_principal {
    line-height: 1.8;
    text-align: center;
    font-weight: 500;
    margin: 20px 0px 0px 0px;
    letter-spacing: 1px;
}






.section_hero {
    display: flex;
    flex-direction: row;
    padding: 15% 5% 5% 5%;
    align-items:start;
    text-align: center;
    justify-content: space-between;  
    color: var(--color-lightgrey);
    height: 550px;
    background-image: linear-gradient(90deg, rgba(209, 205, 205, 0), rgba(0, 0, 0, 0.5), rgba(209, 205, 205, 0));
    background-attachment: scroll;
    background-size: cover;
}
.div_section_hero {
    display: flex;
    flex-direction: column;
    gap: 5%;
    row-gap: 1rem;
    width: 60%;
    height: 100%;
}

.div_section_hero_titulo {
    display: flex;
    font-size: 2.788rem;
    letter-spacing: 6px;
    font-weight: 700;
    line-height: 4.3rem;
    text-align: left;
    margin: 2rem 0px 2rem 0px;

}
.div_section_hero_h1 {
    line-height: 1.8;
    text-align: left;
    font-weight: 500;
    margin: 0px 0px 2rem 0px;
    letter-spacing: 1px;

}
.div_heroimg {
    text-align: right;
    width: 50%;
}
.heroimg {
    width: auto;
    height: 500px;
}







.section_produto_candidato {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    justify-content: space-between;
    color: var(--color-lightgrey);
    height: 700px;
    padding: 5%;
    background-image: linear-gradient(90deg, rgba(209, 205, 205, 0), rgba(0, 0, 0, 0.5), rgba(209, 205, 205, 0));
    background-attachment: scroll;
    background-size: cover;
}
.div_section_produto_candidato {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 60%;
}
.h2_candidatos {
    text-align: left;
    font-size: 2.074rem;
    width: 96%;
    margin: 0 0 3rem 0;
    padding: 0 0 0 2%;
    border-left: 3px solid var(--color-lightred);
    align-content: start;
    line-height: 2.4rem;
}
.div_section_produto_candidato__h2 {
    line-height: 3rem;
    font-weight: 600;
    font-size: 2.074rem;
}
.div_section_produto_candidato__h3 {
    line-height: 3rem;
    font-weight: 400;
    font-size: 1.44rem;
}
.div_produto_candidato_img {
    text-align: center;
    width: 30%;
}
.produto_candidato_img {
    width: auto;
    height: 600px;
}






.section_sobre {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    justify-content: space-between;
    color: var(--color-lightgrey);
    height: 700px;
    padding: 5%;
    background-image: linear-gradient(90deg, rgba(209, 205, 205, 0), rgba(0, 0, 0, 0.5), rgba(209, 205, 205, 0));
    background-attachment: scroll;
    background-size: cover;
}
.div_section_sobre_conteudo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 60%;
}
.h2_recrutadores {
    text-align: left;
    font-size: 2.074rem;
    width: 96%;
    margin: 0 0 3rem 0;
    padding: 0 0 0 2%;
    border-left: 3px solid var(--color-lightred);
    align-content: start;
    line-height: 2.4rem;
}
.div_section_sobre_conteudo__h2 {
    line-height: 3rem;
    font-weight: 600;
    font-size: 2.074rem;
    margin: 0 0 1rem 0;
}
.div_section_sobre_conteudo__h3 {
    line-height: 3rem;
    font-weight: 400;
    font-size: 1.44rem;
}
.menu_products__links {
    display: inline-flex;
    justify-content: start;
    gap: 5%;
}
.div_sobreimg {
    text-align: right;
    width: 40%;
}
.sobreimg {
    width: auto;
    height: 600px;
}







.section_produto_empresa {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    justify-content: space-between;
    color: var(--color-lightgrey);
    height: 700px;
    padding: 5%;
    background-image: linear-gradient(90deg, rgba(209, 205, 205, 0), rgba(0, 0, 0, 0.5), rgba(209, 205, 205, 0));
    background-attachment: scroll;
    background-size: cover;
}
.div_section_produto_empresa {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 60%;
}
.h2_empresas {
    text-align: left;
    font-size: 2.074rem;
    width: 96%;
    margin: 0 0 3rem 0;
    padding: 0 0 0 2%;
    border-left: 3px solid var(--color-lightred);
    align-content: start;
    line-height: 2.4rem;
}
.div_section_produto_empresa__h2 {
    line-height: 3rem;
    font-weight: 600;
    font-size: 2.074rem;
}
.div_section_produto_empresa__h3 {
    line-height: 3rem;
    font-weight: 400;
    font-size: 1.44rem;
}
.div_produto_empresa_img {
    text-align: center;
    width: 30%;
}
.produto_empresa_img {
    width: auto;
    height: 400px;
}




.social_media {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: start;
    background-image: linear-gradient(90deg, rgba(209, 205, 205, 0), rgba(0, 0, 0, 0.5), rgba(209, 205, 205, 0));
    background-attachment: scroll;
    background-size: cover;
    height: 700px;
    border-bottom: 2px solid var(--color-mediumgrey);
    padding: 5%;
}
.social_media_links {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: left;
    color: var(--color-lightgrey);
    width: 50%;
    letter-spacing: 1px;
}
.h2_sm {
    text-align: left;
    font-size: 2.074rem;
    width: 96%;
    margin: 0 0 3rem 0;
    padding: 0 0 0 2%;
    border-left: 3px solid var(--color-lightred);
    align-content: start;
    line-height: 2.4rem;
}
.sm_div {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 90%;
    padding: 0 0 0 10%;
}

.p_sm_links {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 20px;
    width: 100%;
    font-size: 1.2rem;
}
.a_sm_links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--color-white);
    width: 40px;
    height: 40px;
    border-radius: 5px;
}
.sm_icons {
    height: 25px;
    width: 25px;
}

.div_socialmediaimg {
    text-align: right;
    width: 50%;
}
.socialmediaimg {
    width: auto;
    height: 600px;
}





.cadastro_email {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    text-align: left;
    width: 90%;
    height: 15rem;
    padding: 0 5% 0 5%;
    background-image: linear-gradient(var(--color-darkgrey), 50%, var(--color-lightblack));
    background-attachment: scroll;
    background-size: cover;
    color: var(--color-lightgrey); 

}
.form_cadastro {
    display: flex;
    flex-direction: row;
    width: 30%;
}
.formstyle{
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 90%;
}
.email_input_style {
    text-align: left;
    border: none;
    border-radius: 1rem;

    padding: 6px 18px;
    width: 90%;
}
.text_input_style {
    text-align: left;
    border: none;
    border-radius: 1rem;

    width: 90%;
    padding: 6px 18px;
}
.btn_cadastrar {
    border-radius: 1rem;
    border: none;
    background-color: #FAF360;
    padding: 6px 18px;
    text-align: left;
    font-size: 0.8rem;
    margin-top: 5px;
    width: 50%;
}
.rhyped_logo_email {
    height: 60px;
}
.div_text {
    width: 40%;
}
.p_text {
    line-height: 1.5rem;
    width: 100%;
}




.setores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    background-image: linear-gradient(90deg, rgba(209, 205, 205, 0), rgba(0, 0, 0, 0.5), rgba(209, 205, 205, 0));
    background-attachment: scroll;
    background-size: cover;
    height: 700px;
    padding: 5% 0 0 0;
}
.div_h2_setores {
    display: flex;
    
}
.h2_setores {
    font-size: 2.074rem;
    background-color: none;
    color: var(--color-lightgrey);
    text-align: left;
    letter-spacing: 5px;
    margin: 0 0 0 5%;
    padding: 0 0 0 1%;
    border-left: 3px solid var(--color-lightred);
    width: 100%;
    height: 2.5rem;
}
.div_setores {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2.5%;
    row-gap: 5%;
    justify-content: start;
    padding: 5% 0 5% 5%;
    color: var(--color-lightgrey);
}
.div_setores_card {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: left;
    border: 0px solid var(--color-lightgrey);
    border-radius: 20px;
    font-size: 1.0rem;
}
.p_setores_titulo {
    padding: 0 0 0 1rem;
    letter-spacing: 1px;
    line-height: 2rem;
    margin: 0;
    font-size: 1.4rem;
    border-left: 3px solid var(--color-yellow);
}
.p_setores {
    padding: 0 0 0 1rem;
    letter-spacing: 1px;
    line-height: 1.5rem;
    margin: 1rem 0 0 0;
    border-left: 2px solid var(--color-darkgrey);
}
.card_setores_foto {
    height: auto;
    width: 289px;
    margin: 1rem 0 0 0;
    border-radius: 10px;
}






.solucoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    background-image: linear-gradient(90deg, rgba(209, 205, 205, 0), rgba(0, 0, 0, 0.5), rgba(209, 205, 205, 0));
    background-attachment: scroll;
    background-size: cover;
    height: 840px;
}
.div_h2_solucoes {
    display: flex;
}
.h2_solucoes {
    font-size: 2.074rem;
    background-color: none;
    color: var(--color-lightgrey);
    text-align: left;
    letter-spacing: 5px;
    margin: 0 0 0 5%;
    padding: 0 0 0 1%;
    border-left: 3px solid var(--color-lightred);
    width: 100%;
    height: 2.5rem;
}
.div_solucoes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0;
    row-gap: 5%;
    justify-content: space-between;
    padding: 5% 5% 5% 5%;
    color: var(--color-lightgrey);
}
.div_solucoes_card {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: left;
    border-radius: 0px;
    font-size: 1.2rem;
    width: 345px;
}
.p_solucoes_titulo {
    padding: 0 0 0 1rem;
    letter-spacing: 1px;
    line-height: 2rem;
    margin: 0;
    font-size: 1.4rem;
    border-left: 3px solid var(--color-yellow);
}
.p_solucoes {
    padding: 0 0 0 1rem;
    letter-spacing: 1px;
    line-height: 1.5rem;
    margin: 1rem 0 0 0;
    border-left: 2px solid var(--color-darkgrey);
    font-size: 1rem;
}
.card_solucoes_foto {
    height: auto;
    width: 345px;
    margin: 1rem 0 0 0;
    border-radius: 10px;
}









.footer_display {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    align-items: left;
    color: var(--color-mediumgrey);
    background-color: var(--color-lightblack);
    width: 100%;
    height: 150px;
    padding: 0;
    gap: 1%;
}
.div_footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5%;
    text-align: center;
    padding: 2% 5% 2% 5%;
    width: 100%;
    font-size: 1rem;
    line-height: 2rem;
}
.footer_legal {
    line-height: 3rem;
    text-align: left;
    width: 50%;
    font-size: 0.8rem;
    line-height: 2rem;
    text-decoration: none;
}
.add_sm_links {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    text-align: left;
    width: 50%;
    height: 90px;
    gap: 30px;
}
.a_footer_link {
    text-decoration: none;
    color: var(--color-lightred);
}
.div_section_footer_logo {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    text-align: left;
    width: 50%;
}





@media (max-width: 1800px) {
    .bodystyle {
        margin: 0 0 0 2%;
        padding: 0 10% 0 0;
        width: 100%;
    }
    .headerstyle {
        gap: 2.5%;
        width: 90%;
        justify-content: space-between;
        padding: 0 10% 0 0;
    }    
}

@media (max-width: 1500px) {
    .bodystyle {
        margin: 0 0 0 2%;
        padding: 0 10% 0 0;
        width: 100%;
    }
    .headerstyle {
        gap: 2.5%;
        width: 90%;
        justify-content: space-between;
        padding: 0 10% 0 0;
    }    
}


@media (max-width: 1200px) {
    
    :root {
        padding: 0% 0% 0% 0%;
    }
    .bodystyle {
        margin: 0 0 0 2%;
        padding: 0 10% 0 0;
        width: 100%;
    }
    .headerstyle {
        gap: 2.5%;
        width: 90%;
        justify-content: space-between;
        padding: 0 10% 0 0;
    }    

    .section_hero {
        flex-direction: row;
        justify-content: left;
        height: auto;
        width: 96%;
        padding: 10% 2%;
        gap: 5%;
    }
    .div_section_hero {
        width: 50%;
        padding: 0% 0% 5% 0%;
    }
    .div_heroimg {
        width: 35%;
        text-align: left;
        padding: 5% 0 0 0;
    }
    .heroimg {
        height: 400px;
    }



    .section_produto_candidato {
        flex-direction: row;
        justify-content: left;
        height: auto;
        width: 96%;
        padding: 10% 2%;
        gap: 10%;
    }
    .div_produto_candidato_img {
        width: 30%;
    }
    .div_section_produto_candidato {
        width: 50%;
    }
    .produto_candidato_img {
        height: 450px;
    }





    .section_sobre {
        display: flex;
        flex-direction: row;
        justify-content: left;
        width: 96%;
        padding: 10% 2%;
        gap: 5%;
    }
    .div_section_sobre_conteudo {
        width: 55%;
        padding: 0% 0% 5% 0%;
    }
    .div_sobreimg {
        width: 35%;
        text-align: left;
        padding: 0 0 0 0;
    }
    .sobreimg {
        height: 500px;  
    }




    .section_produto_empresa {
        height: 700px;
        padding: 10% 2%;
    }
    .div_section_produto_empresa {
        display: flex;
        flex-direction: column;
        gap: 5%;
        width: 60%;
    }
    .div_produto_empresa_img {
        text-align: center;
        width: 30%;
    }
    .produto_empresa_img {
        width: auto;
        height: 300px;
    }


    .p_sm_links {
        text-align: left;
    }


    .setores {
        height: 1200px;
        padding: 10% 2%;
    }
    .p_setores_titulo {
        margin-top: 50px;
    }
    .div_h2_setores {
        padding: 0;
    }
    .h2_setores {
        margin: 0;
    }



    .solucoes {
        height: 1200px;
        padding: 10% 2%;
    }
    .p_solucoes_titulo {
        margin-top: 50px;
    }
    .div_h2_solucoes {
        padding: 0;
    }
    .h2_solucoes {
        margin: 0;
    }




    .cadastro_email {
        padding: 0 5% 0 5%;
    }




    .menu_products__links {
        justify-content: space-around;
    }



    .cta_btn_principal, .cta_btn_secundario {
        font-size: 1.2rem;
    }


    .item {
        font-size: 1rem;
        padding: 0.5rem 0.5rem;
        width: 5rem;
    }


    .footer_legal {
        width: 100%;
    }

}







@media (max-width: 834px) {
    :root {
        padding: 0 0 0 0;
        min-width: 400px;
    }

    .bodystyle {
        padding: 0 0 0 0;
        margin: 0 2% 2% 2%;
        height: 13000px;
        width: auto;
    }
    .headerstyle {
        justify-content: space-between;
        width: 100%;
        height: 160px;
        padding: 0;
        margin: 0;
    }
    .rhyped_logo {
        width: 200px;
    }
    .navmenu {
        gap: 5%;
        padding: 0%;
        display: grid;
        width: 180px;
        height: 140px;
    }
    .item {
        font-size: 0.75rem;
        padding: 0.2rem 1rem;
        width: 6rem;
    }
    .cta_btn_principal_link, .cta_btn_secundario_link {
        font-size: 1rem;
    }



    .section_hero_principal {
        display: flex;
        flex-direction: row;
        padding: 5%;
        height: 950px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), 40% , rgba(0, 0, 0, 0.5), 80% , rgba(0, 0, 0, 0.7)), url(/images/pexels-fauxels-3183177.jpg);
        background-attachment: scroll;
        background-size: cover;
        border-radius: 25px;
        margin-top: 10px;
        width: 90%;
    }
    .div_section_hero_principal {
        row-gap: 1rem;
        width: 100%;
    }
    .div_section_hero_titulo_principal {
        font-size: 1.728rem;
        letter-spacing: 2px;
        font-weight: 700;
        line-height: 2.5rem;
        text-align: center;
        margin: 0;
    }
    .div_section_hero_h1_principal {
        line-height: 1.8;
        font-size: 1.44rem;
        text-align: center;
        font-weight: 500;
        margin: 20px 0px 0px 0px;
        letter-spacing: 1px;
    }



    .section_hero {
        height: 1150px;
        padding: 20% 2%;
        margin-top: 0px;
        display: flex;
        flex-direction: column;
    }
    .div_section_hero {
        width: 100%;
        padding: 0;
        height: 600px;
    }
    .div_section_hero_intro {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        text-align: left;
    }
    .div_section_hero_titulo {
        font-size: 2.074rem;
        letter-spacing: 2px;
        line-height: 2.8rem;
    }
    .div_section_hero_h1 {
        font-size: 1.44rem;
        letter-spacing: 1px;
    }
    .div_heroimg {
        text-align: center;
        width: 100%;
        margin-top: 30px;
    }



    .section_produto_candidato {
        display: flex;
        flex-direction: column;
        height: 1300px;
        padding: 20% 2%;
        width: 96%;
    }
    .div_section_produto_candidato {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
    }
    .h2_candidatos {
        margin: 3rem 0 0 0;
    }
    .div_section_produto_candidato__h2 {
        font-size: 1.728rem;
        font-weight: 600;
        line-height: 2.8rem;
        letter-spacing: 2px;
    }
    .div_section_produto_candidato__h3 {
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 2.6rem;
        letter-spacing: 1px;
    }
    .div_produto_candidato_img {
        text-align: center;
        width: 100%;
        margin-top: 30px;
    }








    .section_sobre {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
        justify-content: space-between;
        height: 1220px;
        padding: 20% 2%;
        width: 96%;
    }
    .div_section_sobre_conteudo {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
    }
    .h2_recrutadores {
        margin: 3rem 0 0 0;
    }
    .div_section_sobre_conteudo__h2 {
        font-size: 1.728rem;
        font-weight: 600;
        line-height: 2.8rem;
        letter-spacing: 2px;
        margin: 1rem 0;
    }
    .div_section_sobre_conteudo__h3 {
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 2.6rem;
        letter-spacing: 1px;
    }
    .menu_products__links {
        display: inline-flex;
        justify-content: start;
        gap: 5%;
    }
    .div_sobreimg {
        text-align: center;
        width: 100%;
    }
    .sobreimg {
        width: 350px;
        height: auto;
    }











    .section_produto_empresa {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
        justify-content: space-between;
        color: var(--color-lightgrey);
        height: 1120px;
        padding: 20% 2%;
        width: 96%;
    }
    .div_section_produto_empresa {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
    }
    .h2_empresas {
        margin: 3rem 0 0 0;
    }
    .div_section_produto_empresa__h2 {
        font-size: 1.728rem;
        font-weight: 600;
        line-height: 2.8rem;
        letter-spacing: 2px;
        margin: 1rem 0;
    }
    .div_section_produto_empresa__h3 {
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 2.6rem;
        letter-spacing: 1px;
    }
    .div_produto_empresa_img {
        text-align: center;
        width: 100%;
    }
    .produto_empresa_img {
        width: auto;
        height: 300px;
    }







    .social_media {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: space-between;
        height: auto;
        border-bottom: 2px solid var(--color-mediumgrey);
        padding: 20% 2%;
        width: 96%;
        height: 900px;
    }
    .social_media_links {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: left;
        color: var(--color-lightgrey);
        width: 100%;
        letter-spacing: 1px;
    }
    .h2_sm {
        text-align: left;
        font-size: 2.074rem;
        width: 96%;
        margin: 0 0 3rem 0;
        padding: 0 0 0 2%;
        border-left: 3px solid var(--color-lightred);
        align-content: start;
        line-height: 2.4rem;
    }
    .sm_div {
        display: flex;
        flex-direction: column;
        align-items: left;
        width: 95%;
        padding: 0 0 0 5%;
    }
    
    .p_sm_links {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        text-align: left;
        justify-content: start;
        width: 100%;
        font-size: 1rem;
    }
    .a_sm_links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: var(--color-white);
        width: 40px;
        height: 40px;
        border-radius: 5px;
    }
    .sm_icons {
        height: 25px;
        width: 25px;
    }
    
    .div_socialmediaimg {
        text-align: center;
        width: 100%;
    }
    .socialmediaimg {
        width: auto;
        height: 400px;
    }
    






    .cadastro_email {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        height: auto;
        width: 96%;
        padding: 10% 2%;
    }
    .form_cadastro {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .formstyle {
        margin-top: 5%;
        gap: 5%;
        padding: 20px 0 20px 0;
        height: 160px;
        width: 100%;
    }
    .email_input_style {
        text-align: left;
        border: none;
        border-radius: 1rem;
        padding: 6px 18px;
        width: 90%;
        line-height: 2rem;
    }
    .text_input_style {
        text-align: left;
        border: none;
        border-radius: 1rem;
        width: 90%;
        padding: 6px 18px;
        line-height: 2rem;
    }
    .btn_cadastrar {
        border-radius: 1rem;
        border: none;
        background-color: #FAF360;
        padding: 6px 18px;
        text-align: left;
        font-size: 1rem;
        margin-top: 5px;
        width: 50%;
        min-width: 20px;
        line-height: 2rem;
    }
    .rhyped_logo_email {
        height: 70px;
    }
    .div_text {
        width: 100%;
    }
    .p_text {
        line-height: 1.5rem;
        width: 100%;
    }
    





    
    .setores {
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;   
        height: 2150px;
        padding: 20% 2%;
        width: 96%;
    }
    .div_h2_setores {
        padding: 0;
        height: 120px;
    }
    .h2_setores {
        font-size: 1.728rem;
        text-align: left;
        letter-spacing: 5px;
        margin: 0;
        padding: 0 0 0 2%;
    }
    .div_setores {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10%;
        row-gap: 10%;
        justify-content: start;
        padding: 0 0 5% 5%;
    }
    .div_setores_card {
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: left;
        border: 0px solid var(--color-lightgrey);
        border-radius: 20px;
        font-size: 1.0rem;
    }
    .p_setores_titulo {
        padding: 0 0 0 1rem;
        letter-spacing: 1px;
        line-height: 2rem;
        margin: 100px 0 0 0;
        font-size: 1.4rem;
        border-left: 3px solid var(--color-yellow);
    }
    .p_setores {
        padding: 0 0 0 1rem;
        letter-spacing: 1px;
        line-height: 1.5rem;
        margin: 1rem 0 0 0;
        border-left: 2px solid var(--color-darkgrey);
    }
    .card_setores_foto {
        height: auto;
        width: 289px;
        margin: 1rem 0 0 0;
        border-radius: 10px;
    }







    

    .solucoes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        width: 96%;
        height: 1700px;
        padding: 20% 2%;
    }
    .div_h2_solucoes {
        display: flex;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .h2_solucoes {
        font-size: 1.728rem;
        text-align: left;
        letter-spacing: 5px;
        margin: 0rem;
        padding: 0 0 0 2%;
        width: 96%;
        line-height: 2.4rem;
        height: 40px;
    }
    .div_solucoes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 5%;
        row-gap: 10%;
        justify-content: space-between;
        padding: 0 5% 5% 5%;

    }
    .div_solucoes_card {
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: left;
        border-radius: 0px;
        font-size: 1rem;
        width: 300px;
    }
    .p_solucoes_titulo {
        padding: 0 0 0 1rem;
        letter-spacing: 1px;
        line-height: 2rem;
        margin: 70px 0 0 0;
        font-size: 1.4rem;
        border-left: 3px solid var(--color-yellow);
    }
    .p_solucoes {
        padding: 0 0 0 1rem;
        letter-spacing: 1px;
        line-height: 1.5rem;
        margin: 1rem 0 0 0;
        border-left: 2px solid var(--color-darkgrey);
        font-size: 1rem;
    }
    .card_solucoes_foto {
        height: auto;
        width: 300px;
        margin: 1rem 0 0 0;
        border-radius: 10px;
    }







    .footer_display {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 96%;
        height: 200px;
        padding: 20% 2%;
    }
    .div_footer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10%;
        text-align: center;
        width: 100%;
        font-size: 1rem;
        line-height: 2rem;
        padding: 0;
        height: 250px;
    }
    .footer_legal {
        line-height: 3rem;
        text-align: left;
        width: 50%;
        font-size: 0.8rem;
        line-height: 2rem;
        text-decoration: none;
        width: 100%;
    }

    .a_footer_link {
        text-decoration: none;
        color: var(--color-lightred);
    }
    .div_section_footer_logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        text-align: left;
        width: 50%;
    }
}
